@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-size: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Merriweather;
  font-size: 16px;
  color: #3A3A3A;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.scroll .header__wrapper {
  background-color: rgba(255, 255, 255, 0.8);
}
@media (any-hover: hover) {
  .scroll .header__wrapper:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 40px;
}
.header__wrapper {
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  min-height: 125px;
  position: relative;
}
@media (max-width: 991.98px) {
  .header__body {
    min-height: 80px;
  }
}
@media (max-width: 767.98px) {
  .header__body {
    min-height: 50px;
  }
}
.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39.8387096774%;
          flex: 0 0 39.8387096774%;
}
@media (max-width: 991.98px) {
  .header__main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.header__logo {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120.8333333333%;
  color: #000000;
}
@media (min-width: 991.98px) {
  .header__search {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 420px;
          flex: 0 1 420px;
}
@media (max-width: 767.98px) {
  .menu__body {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: grey;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 80px 15px 30px 15px;
    margin: 10px 0 0 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: grey;
    z-index: 2;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    content: "";
    left: 0;
  }
}
@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 3px;
  padding: 5px 0;
  position: relative;
}
@media (any-hover: hover) {
  .menu__item:hover .menu__sub-list {
    -webkit-transform: translate(0px 0px);
            transform: translate(0px 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__item:hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .menu__item:hover .menu__arrow,
.menu__item:hover .menu__link {
    color: #E89F71;
  }
}
.menu__link {
  font-weight: 500;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: #000000;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 24px;
    font-weight: 600;
  }
}
.menu__arrow {
  margin: 0 0 0 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 8px;
}
@media (max-width: 767.98px) {
  .menu__arrow {
    font-size: 16px;
  }
}
.menu__sub-list {
  position: relative;
  background-color: #E89F71;
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
@media (min-width: 767.98px) {
  .menu__sub-list {
    min-width: 200px;
    left: 0;
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0 10px);
            transform: translate(0 10px);
    pointer-events: none;
  }
}
.menu__sub-item:not(:last-child) {
  margin: 0 0 5px 0;
}
.search-form {
  max-width: 473px;
}
.search-form._active .search-form__item {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.search-form._active .search-form__icon {
  color: #E89F71;
}
.search-form__icon {
  margin: 0 32px 0 0;
  position: relative;
  z-index: 5;
  font-size: 22px;
  color: #3A3A3A;
}
@media (min-width: 991.98px) {
  .search-form__icon {
    display: none;
  }
}
.search-form__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
  height: 45px;
  font-size: 15px;
}
.search-form__item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .search-form__item {
    -webkit-box-shadow: 0 0 5px grey;
            box-shadow: 0 0 5px grey;
    position: absolute;
    width: 100%;
    left: 0;
    top: -100%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (min-width: 767.98px) {
  .search-form__item._hover .menu__sub-list {
    -webkit-transform: translate(0px 0px);
            transform: translate(0px 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .search-form__item._hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .search-form__item._hover .menu__arrow,
.search-form__item._hover .menu__link {
    color: #E89F71;
  }
}
.search-form__input {
  font-size: 14px;
  color: #616161;
  width: 100%;
}

.actions-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
.actions-header__item_favorites {
  font-size: 24px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .actions-header__item_favorites:hover {
    color: #E89F71;
  }
}
.actions-header__item_user {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  padding: 0 0 50% 0;
}
.actions-header__item_user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.cart-header__icon {
  position: relative;
  display: block;
  font-size: 24px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .cart-header__icon:hover {
    color: #E89F71;
  }
}
.cart-header span {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  left: 10px;
  border-radius: 50%;
  background-color: #E89F71;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
}
.page {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.main-slider {
  background: #FCF8F3;
}
.main-slider__container {
  position: relative;
}
@media (min-width: 991.98px) {
  .main-slider__container::before {
    content: "";
    position: absolute;
    background: #F9F1E7;
    top: 0;
    width: 100vw;
    height: 100%;
    right: 376px;
  }
}
.main-slider__body {
  position: relative;
  z-index: 2;
  padding: 140px 0 0 0;
}
@media (max-width: 991.98px) {
  .main-slider__body {
    padding: 80px 0 0 0;
  }
}
@media (max-width: 767.98px) {
  .main-slider__body {
    padding: 50px 0 0 0;
  }
}
@media (min-width: 991.98px) {
  .main-slider__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main-slider__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39.8387096774%;
          flex: 0 0 39.8387096774%;
  margin: 0 0 80px 0;
}
@media (max-width: 1300px) {
  .main-slider__content {
    padding: 40px;
    margin: 0 0 60px 0;
  }
}
.main-slider__slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  min-height: 48px;
}
.btn_white {
  color: #E89F71;
  background-color: #FFFFFF;
}
@media (any-hover: hover) {
  .btn_white:hover {
    color: #FFFFFF;
    background-color: #E89F71;
  }
}

.content-main {
  position: relative;
  z-index: 5;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(15.5px);
          backdrop-filter: blur(15.5px);
}
@media (min-width: 991.98px) {
  .content-main {
    padding: 55px;
  }
}
.content-main__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #3A3A3A;
  margin: 0 0 16px 0;
}
@media (max-width: 1300px) {
  .content-main__title {
    font-size: 56px;
  }
}
.content-main__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #898989;
  margin: 0 0 48px 0;
}
@media (max-width: 1300px) {
  .content-main__text {
    font-size: 18px;
  }
}
.content-main__button {
  min-height: 78px;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 600;
  background: #E89F71;
}
.content-main__button:hover {
  background: #a06b4a;
}

.slider-main__body {
  overflow: visible;
}
.slider-main__slide {
  min-width: 0;
  position: relative;
}
.slider-main__image {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  padding: 0 0 59% 0;
}
.slider-main__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider-main__content {
  overflow: auto;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(15.5px);
          backdrop-filter: blur(15.5px);
}
@media (min-width: 767.98px) {
  .slider-main__content {
    position: absolute;
    min-width: 350px;
    right: 40px;
    bottom: 40px;
  }
}
.slider-main__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #3A3A3A;
}
.slider-main__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}
.slider-main__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #3A3A3A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider-main__price ::before {
  font-size: 14px;
}

.controls-slider-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 22px 32px;
}
.controls-slider-main__dotts .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.controls-slider-main__dotts .slick-dots li button {
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #D8D8D8;
  margin: 0 10px;
}
.controls-slider-main__dotts .slick-dots li.slick-active button {
  margin: 0;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  opacity: 0.7;
  border: 1px solid #E89F71;
  background-color: transparent;
  position: relative;
}
.controls-slider-main__dotts .slick-dots li.slick-active button::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 30%;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background-color: #E89F71;
}
.controls-slider-main__arrows {
  font-size: 0;
}
.controls-slider-main__arrows button:not(:last-child) {
  margin: 0 3px 0 0;
}
.controls-slider-main__arrows .slick-prev.slick-arrow {
  width: 47px;
  height: 47px;
  background: url(/img/arr.svg) 0 0/100% no-repeat;
}
.controls-slider-main__arrows .slick-prev.slick-arrow:hover {
  width: 47px;
  height: 47px;
  background: url(/img/active.png) 0 0/100% no-repeat;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.controls-slider-main__arrows .slick-next.slick-arrow {
  width: 47px;
  height: 47px;
  background: url(/img/arr.svg) 0 0/100% no-repeat;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.controls-slider-main__arrows .slick-next.slick-arrow:hover {
  width: 47px;
  height: 47px;
  background: url(/img/active.png) 0 0/100% no-repeat;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1000px) {
  .slider .slick-track {
    position: absolute;
    left: -188px;
  }
}

.slider .slick-list {
  position: relative;
  overflow: visible;
}

.slider .slick-slide {
  margin: 0 32px 0 0;
  width: 934px;
}

.advantages {
  padding: 88px 0;
}
.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.advantages__item {
  display: -ms-inline-grid;
  display: inline-grid;
  padding: 15px 0;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 85px 1fr;
      grid-template: auto auto/85px 1fr;
}
.advantages__icon {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  text-align: center;
  -ms-grid-row-align: center;
      align-self: center;
}
.advantages__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}
.advantages__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #898989;
}

.products {
  padding: 0 0 44px 0;
}
.products__title {
  margin: 0 0 32px 0;
}
.products__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  gap: 32px;
}
.products__foo {
  text-align: center;
  padding: 40px 0 0 0;
}
.item-product {
  background-color: #F4F5F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
@media (any-hover: hover) {
  .item-product:hover .item-product__actions {
    opacity: 1;
    visibility: visible;
  }
}
.item-product__labels {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 24px;
  top: 24px;
}
.item-product__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  width: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  font-weight: 500;
}
.item-product__label_sale {
  background-color: #E97171;
}
.item-product__label_new {
  background-color: #2EC1AC;
}
.item-product__image {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  padding: 0 0 105.6140350877% 0;
}
.item-product__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-product__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 16px 16px 30px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-product__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.item-product__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  margin: 0 0 0.3333333333em 0;
}
.item-product__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #898989;
  margin: 0 0 0.3333333333em 0;
}
.item-product__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.item-product__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #3A3A3A;
}
.item-product__price_old {
  text-decoration-line: line-through;
  color: #B0B0B0;
  font-weight: 400;
  font-size: 16px;
  margin: 0 0 0 16px;
}
.item-product__actions {
  padding: 42px;
}
@media (any-hover: none) {
  .item-product__actions {
    padding: 15px 0 0 0;
  }
}
@media (any-hover: hover) {
  .item-product__actions {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
  }
}

.action-product__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.action-product__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin: 0 0 24px 0;
}
.action-product__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: inherit;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.action-product__link::before {
  margin: 0 10px 0 0;
}
@media (any-hover: hover) {
  .action-product__link {
    color: #FFFFFF;
  }
  .action-product__link:hover {
    color: #E89F71;
  }
}

.btn_white {
  text-align: center;
  padding: 12px 58px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rooms {
  background-color: #FCF8F3;
  padding: 44px 0;
}
@media (min-width: 991.98px) {
  .rooms__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.rooms__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37.5%;
          flex: 0 0 37.5%;
  position: relative;
  z-index: 5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}
@media (min-width: 991.98px) {
  .rooms__body {
    padding-right: 80px;
  }
}
.rooms__title {
  margin: 0 0 8px 0;
}
.rooms__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
  margin: 0 0 24px 0;
}
.rooms__button {
  background: #E89F71;
  min-width: 176px;
  padding: 12px 40px;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
.rooms__button:hover {
  background: #b97e5a;
}
.rooms__slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
}

.slider-rooms {
  position: relative;
}
.slider-rooms__body {
  position: relative;
}
.slider-rooms__body::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100vw;
  background-color: #FCF8F3;
  z-index: 3;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}
.slider-rooms__slide {
  min-width: 0;
  position: relative;
  overflow: hidden;
}
.slider-rooms__image {
  height: 100%;
  position: relative;
  -webkit-transition: height 0.8s ease 0s;
  transition: height 0.8s ease 0s;
}
.slider-rooms__image img {
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.slider-rooms__content {
  max-width: 240px;
  position: absolute;
  bottom: 24px;
  left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  color: inherit;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.slider-rooms__content::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  background: #E89F71;
  color: white;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}
.slider-rooms__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #3A3A3A;
}
.slider-rooms__arrows {
  font-size: 0;
}
.slider-rooms__arrows button:not(:last-child) {
  margin: 0 3px 0 0;
}
.slider-rooms__arrows .slick-prev.slick-arrow {
  position: absolute;
  top: 45%;
  left: 0;
  width: 47px;
  height: 47px;
  background: url(/img/arr.svg) 0 0/100% no-repeat;
}
.slider-rooms__arrows .slick-prev.slick-arrow:hover {
  width: 47px;
  height: 47px;
  background: url(/img/active.png) 0 0/100% no-repeat;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.slider-rooms__arrows .slick-next.slick-arrow {
  position: absolute;
  top: 45%;
  right: 0;
  width: 47px;
  height: 47px;
  background: url(/img/arr.svg) 0 0/100% no-repeat;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.slider-rooms__arrows .slick-next.slick-arrow:hover {
  width: 47px;
  height: 47px;
  background: url(/img/active.png) 0 0/100% no-repeat;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.label-slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 8px 27px 8px auto;
  grid-template-columns: auto 27px auto;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
  margin: 0 8px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.label-slider__line {
  height: 1px;
  background-color: #616161;
}
.dotts-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 300px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.dotts-two .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dotts-two li button {
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #D8D8D8;
  margin: 0 10px;
}
.dotts-two li.slick-active button {
  margin: 0;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  opacity: 0.7;
  border: 1px solid #E89F71;
  background-color: transparent;
  position: relative;
}
.dotts-two li.slick-active button::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 30%;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background-color: #E89F71;
}

.slider-rooms__body .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider-rooms__body .slick-slide {
  margin: 0 24px 0 0;
  height: 486px;
  width: 370px;
}

.slider-rooms__body .slick-active {
  height: 580px;
}

.tips {
  padding: 44px 0;
}
.tips__title {
  text-align: center;
  margin: 0 0 32px 0;
}
.slider-tips {
  position: relative;
}
.slider-tips__slide {
  max-width: 391px;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}
.slider-tips__slide:hover {
  -webkit-box-shadow: 0 0 32px rgba(97, 97, 97, 0.1);
          box-shadow: 0 0 32px rgba(97, 97, 97, 0.1);
}
.slider-tips__image {
  position: relative;
  display: block;
  padding: 0 0 64.1943734015% 0;
}
.slider-tips__image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider-tips__content {
  padding: 16px 0 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider-tips__itle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #3A3A3A;
  margin: 0 0 8px 0;
}
.slider-tips__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #898989;
  margin: 0 0 16px 0;
}
.slider-tips__dotts {
  padding-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider-tips__dotts .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider-tips__dotts .slick-dots li button {
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #D8D8D8;
  margin: 0 10px;
}
.slider-tips__dotts .slick-dots li.slick-active button {
  margin: 0;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  opacity: 0.7;
  border: 1px solid #E89F71;
  background-color: transparent;
  position: relative;
}
.slider-tips__dotts .slick-dots li.slick-active button::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 30%;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background-color: #E89F71;
}
.slider-tips__arrows {
  font-size: 0;
}
.slider-tips__arrows button:not(:last-child) {
  margin: 0 3px 0 0;
}
.slider-tips__arrows .slick-prev.slick-arrow {
  position: absolute;
  top: 45%;
  left: 0;
  width: 47px;
  height: 47px;
  background: url(/img/arr.svg) 0 0/100% no-repeat;
}
.slider-tips__arrows .slick-prev.slick-arrow:hover {
  width: 47px;
  height: 47px;
  background: url(/img/active.png) 0 0/100% no-repeat;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.slider-tips__arrows .slick-next.slick-arrow {
  position: absolute;
  top: 45%;
  right: 0;
  width: 47px;
  height: 47px;
  background: url(/img/arr.svg) 0 0/100% no-repeat;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.slider-tips__arrows .slick-next.slick-arrow:hover {
  width: 47px;
  height: 47px;
  background: url(/img/active.png) 0 0/100% no-repeat;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.slider-tips__body .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-tips__body .slick-list {
  overflow: hidden;
  padding: 0 10px;
  margin: 0 -10px;
}

.slider-tips__body .slick-slide {
  margin: 0 23px 0 0;
}

.furniture {
  padding: 0 0 85px 0;
}
.furniture__label {
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #616161;
  margin: 0 0 8px 0;
}
.furniture__title {
  text-align: center;
  margin: 0 0 32px 0;
}
@media (any-hover: none) {
  .furniture__body {
    overflow: auto;
  }
}
.furniture__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  grid-auto-flow: column;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (any-hover: hover) {
  .furniture__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.furniture__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -8px;
}
.furniture__column:first-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.furniture__row {
  display: -ms-inline-grid;
  display: inline-grid;
  padding: 0 8px;
  margin: 0 0 16px 0;
  gap: 16px;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  grid-auto-flow: column;
}

.row-furniture_left-top {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.row-furniture_left-bottom {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.row-furniture_right-top {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.row-furniture_center {
  display: block;
}
.row-furniture_right-bottom {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media (any-hover: hover) {
  .row-furniture__item img {
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  .row-furniture__item:hover img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}